.products {
    height: calc(100vh - 100px);
    margin-top: 40px;
    margin-left: 280px;
    margin-right: 25px;
    border-radius: 0.2857rem;
}

.input-field .prefix {
    color: #d2d2d2 !important;
}

input {
    color: #d2d2d2 !important;
}

html, .wrapper, body {
    background: #1F2023;
}

.card {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    cursor: pointer;
}

h5 {
    color: rgba(255, 255, 255, 0.7) !important;
}

.createProducts {
    height: calc(100vh - 100px);
    margin-top: 40px;
    margin-left: 280px;
    margin-right: 25px;
    border-radius: 0.2857rem;
    background: #27292d;
    padding: 20px;
    display: none;
}

.createButton12 {
    background-color: #1f2023 !important;
    color: #d2d2d2 !important;
    height: 40px;
    width: 120px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}